@import './src/style/_vars.scss';

.landing{
  color: $color-white;
  div {
    float:left;
    margin-top: 3em;
    margin-left: 1em;
    height: 20em;
    width: calc(95%/2);
  }
  p {
    color: $color-white
  }
  a {
    width: calc(100%/2);
    margin: auto;
  }
  img {
    height: 20em;
    width: 100%;
    margin: auto;
    border-radius: 50px;
  }
}
