@import "vars";

.landing{
  color: black;
  div {
    float:left;
    margin-top: 3em;
    margin-left: 1em;
    height: 20em;
    width: calc(95%/3);
  }
  a {
    color: $color-white;
  }
  img {
    height: 20em;
  }
}
